body {
    background-color: rgb(0, 0, 0);
}

.p1 {
    font-size: large;
}
.p2 {
    font: italic bold 12px/30px Georgia, serif;
}

.resized-img {
    width:50px;
    height:50px;
    margin:10px;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}
.large-img {
    width:580px;
    height:380px;
    margin:5px;
}
.centered {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
}
.dot-border {
    font-size: large;
    color:rgb(255, 255, 255);
    outline-style: dotted;
}

.rectangle {
    height: 250px;
    width: 150px;
    background-color: rgb(220, 220, 220);
}
.float-right {
    float: right;
}
.round-corner {
    border-radius: 25px;
}